@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Catálogo de objetivos</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/select.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/scripts/DataTables/dataTables.buttons.js"></script>
    <script src="~/scripts/DataTables/dataTables.select.js"></script>
    <script src="~/scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/scripts/DataTablesEditor/dataTables.altEditor.js"></script>

    <script src="~/scripts/Catalog/CatalogIndicators.js"></script>
</head>
<body>

    <h2>Catálogo de indicadores</h2>

    <table id="DataTableCatalog" class="table, display"  width="100%" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Language</th>
                <th>Group </th>
                <th>Objective</th>
                <th>Name</th>
                <th></th>
                <th>Mode</th>
                <th>Frequency</th>
                <th>Input Type</th>
            </tr>
        </thead>
    </table>


    <div class="modal fade" id="altEditor-modal" tabindex="-1" role="dialog" style="display: none; padding-left: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Edit Record</h4>
                </div>
                <div class="modal-body">
                    <form name="altEditor-form" id="altEditor-form" role="form">
                        <input class="primarykey" id="id" name="id" placeholder="" value="" type="hidden">
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Language">Language:</label></div>
                            <select class="language" id="language" required data-validation="required" data-validation-if-checked-value="yes"></select>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Group ">Group :</label></div>
                            @*<div class="col-sm-9 col-md-9 col-lg-9"><input id="group " name="group " placeholder="Group " style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>*@
                            <select class="group" id="group" required data-validation="required" data-validation-if-checked-value="yes"></select>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Objective">Objective:</label></div>
                            @*<div class="col-sm-9 col-md-9 col-lg-9"><input id="objective" name="objective" placeholder="Objective" style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>*@
                            <select class="objective" id="objective" required data-validation="required" data-validation-if-checked-value="yes"></select>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Name">Name:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9"><input id="name" name="name" placeholder="Name" style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="short_">Short name:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9"><input id="short_" name="short_" placeholder="" style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Mode">Mode:</label></div>
                            @*<div class="col-sm-9 col-md-9 col-lg-9"><input id="Mode" name="Mode" placeholder="Mode" style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>*@
                            <select class="mode" id="mode" required data-validation="required" data-validation-if-checked-value="yes"></select>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Frequency">Frequency:</label></div>
                            @*<div class="col-sm-9 col-md-9 col-lg-9"><input id="Frequency" name="Frequency" placeholder="Frequency" style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>*@
                            <select class="frequency" id="frequency" required data-validation="required" data-validation-if-checked-value="yes"></select>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:7px;"><label for="Input Type">Input Type:</label></div>
                            @*<div class="col-sm-9 col-md-9 col-lg-9"><input id="Input Type" name="Input Type" placeholder="Input Type" style="overflow:hidden" class="form-control  form-control-sm" value="" type="text"></div>*@
                            <select class="input_type" id="input_type" required data-validation="required" data-validation-if-checked-value="yes"></select>
                            <div style="clear:both;"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" data-content="remove" class="btn btn-primary" id="editRowBtn">Save Changes</button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>