@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FMP indicadores</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/select.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/scripts/DataTables/dataTables.buttons.js"></script>
    <script src="~/scripts/DataTables/dataTables.select.js"></script>
    <script src="~/scripts/DataTables/dataTables.responsive.js"></script>
    @*<script src="~/scripts/DataTablesEditor/dataTables.altEditor.js"></script>*@

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />*@
    <script src="~/scripts/jquery-ui.js"></script>

    <script src="~/scripts/Catalog/FMP_add.js"></script>
</head>
<body>
    <div id="tabs" >
        <ul>
            <li><a href="#tab-WorkPlan">Work Plan</a></li>
            <li><a href="#tab-EBPChecklist">EBP Checklist</a></li>
            <li><a href="#tab-CPDChecklists">CPD Checklists</a></li>
            <li><a href="#tab-ANEXOIIIChecklist">ANEXO III Checklist</a></li>
            <li><a href="#tab-ICBChecklist">ICB Checklist</a></li>
            <li><a href="#tab-TyLChecklist">T&L Checklist</a></li>
        </ul>

        <div id="tab-WorkPlan" >

            <div dclass="table-responsive">
                <table id="table-WorkPlan" class="table table-hover table-bordered table-striped" >
                    <thead>
                        <tr id="table-WorkPlan-header">
                            <td scope="col">Obj. Banco</td>
                            <td scope="col">Main Business Functions</td>
                            <td scope="col">Tipo</td>
                            <td scope="col">
                                Metas <br />
                                <a href="#">Go to Manual de Indicadores</a>
                            </td>
                            <td scope="col">Frec.</td>
                            <td scope="col">1Q <br />target</td>
                            <td scope="col">Actual</td>
                            <td scope="col">2Q <br />target</td>
                            <td scope="col">Actual</td>
                            <td scope="col">3Q <br />target</td>
                            <td scope="col">Actual</td>
                            <td scope="col">4Q <br />target</td>
                            <td scope="col">Actual</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>


                </table>
                <div id="loading">
                    <p><img src="~/Content/images/ajax-loader.gif" /> Please Wait</p>
                </div>

            </div>
        </div>

        <div id="tab-EBPChecklist" >
            akdsjf;lakjdfl;kajdflk
        </div>
        <div id="tab-CPDChecklists" >
            kajdfl;kajsdfl;kjas
        </div>
        <div id="tab-ANEXOIIIChecklist" >
            ajsdfl;kajsdl;kfjsa
        </div>
        <div id="tab-ICBChecklist">
            klajdsfl;kajldfkjs
        </div>
        <div id="tab-TyLChecklist" >
            lkajdl;fkjaslkdf
        </div>
    </div>
</body>
</html>
